{% macro tpaging(section, offset, limit, count) %}
    <a class="button is-small is-align-self-center mr-2"
       hx-get="{{ url_for('core.index') }}?{{ section }}_offset={{ offset-limit }}"
       hx-target="#stats"
       hx-swap="outerHTML"
       {% if offset <= 0 %}disabled hx-disable{% endif %}>
        <span class="icon">
            <i class="fa fa-chevron-left"></i>
        </span>
    </a>
    <a class="button is-small is-align-self-center"
       hx-get="{{ url_for('core.index') }}?{{ section }}_offset={{ offset+limit }}"
       hx-target="#stats"
       hx-swap="outerHTML"
       {% if offset + limit >= count %}disabled hx-disable{% endif %}>
        <span class="icon">
            <i class="fa fa-chevron-right"></i>
        </span>
    </a>
{% endmacro %}
