{% macro tlimit(section, limit) %}
    <div class="field">
        <div class="control">
            <div class="select">
                <select name="{{ section }}_limit"
                        hx-get="{{ url_for('core.index') }}"
                        hx-target="#stats"
                        hx-swap="outerHTML">
                    <option {% if limit == 40 %}selected{% endif %}>40</option>
                    <option {% if limit == 100 %}selected{% endif %}>100</option>
                    <option {% if limit == 500 %}selected{% endif %}>500</option>
                </select>
            </div>
        </div>
        <p class="help">Délka stránky</p>
    </div>
{% endmacro %}
