{% extends "stats/base.html" %}
{% from "stats/_macros.html" import link_poi_cat %}

{% block table_head %}
    {% with fields=(('id', 'ID'),
                    ('created', 'Vytvořeno'),
                    ('name', 'Jméno'),
                    ('n_pois', '# Značek')) %}
        {% include "stats/_table-head.html" %}
    {% endwith %}
{% endblock %}

{% block table_body %}
    {% for row in rows %}
        <tr>
            <th class="cell-number">
                <a href="https://map.na-ovoce.cz/?fcat={{ row.id }}"
                   target="_blank"
                   rel="noopener noreferrer">
                    {{ row.id }}
                </a>
            </th>
            <td class="cell-w-datetime cell-number">{{ row.created_fmt }}</td>
            <td class="cell-w-name">{{ link_poi_cat(stats_url, row) }}</td>
            <td class="cell-number">{{ row.n_pois }}</td>
        </tr>
    {% endfor %}
{% endblock %}
