<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Vytvořeno</th>
            <th>Uživatel</th>
            <th>Značka</th>
            <th>Text</th>
        </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
            <th>{{ row.id }}</th>
            <td>{{ row.created }}</td>
            <td>{{ row.user_id }}</td>
            <td>{{ row.poi_id }}</td>
            <td>{{ row.text }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
