{% extends "stats/base.html" %}

{% block table_head %}
    {% with fields=(('id', 'ID'),
                    ('created', 'Vytvořeno'),
                    ('creator_id', 'Uživatel'),
                    ('poi_id', 'Značka'),
                    ('text', 'Text')) %}
        {% include "stats/_table-head.html" %}
    {% endwith %}
{% endblock %}

{% block table_body %}
    {% for row in rows %}
        <tr>
            <th class="cell-number">{{ row.id }}</th>
            <td class="cell-w-datetime cell-number">{{ row.created_fmt }}</td>
            <td class="cell-number">{{ row.creator_id|default('–', true) }}</td>
            <td class="cell-number">{{ row.poi_id|default('–', true) }}</td>
            <td>{{ row.text }}</td>
        </tr>
    {% endfor %}
{% endblock %}
