{% extends "stats/base.html" %}

{% block table_counts %}
    {{ super() }}
    uživatelů
{% endblock %}

{% block table_head %}
    {% with fields=(('id', 'ID'),
                    ('created', 'Registrace'),
                    ('first_name', 'Jméno'),
                    ('last_name', 'Příjmení'),
                    ('email', 'E-mail'),
                    ('last_visit', 'Posl. návštěva'),
                    ('n_pois', '# Značek'),
                    ('n_images', '# Fotek'),
                    ('n_comments', '# Komentářů')) %}
        {% include "stats/_table-head.html" %}
    {% endwith %}
{% endblock %}

{% block table_body %}
    {% for row in rows %}
        <tr>
            <th class="cell-number">{{ row.id }}</th>
            <td class="cell-w-datetime cell-number">{{ row.created }}</td>
            <td class="cell-w-name">{{ row.first_name|default('-', true) }}</td>
            <td class="cell-w-name">{{ row.last_name|default('-', true) }}</td>
            <td class="cell-w-email"><a href="mailto:{{ row.email }}">{{ row.email }}</a></td>
            <td class="cell-w-datetime cell-number">{{ row.last_visit|default('-', true) }}</td>
            <td class="cell-number">{{ row.n_pois }}</td>
            <td class="cell-number">{{ row.n_images }}</td>
            <td class="cell-number">{{ row.n_comments }}</td>
        </tr>
    {% endfor %}
{% endblock %}
