{% extends "stats/base.html" %}

{% block table_head %}
    {% with fields=(('id', 'ID'),
                    ('created', 'Vytvořeno'),
                    ('first_name', 'Jméno'),
                    ('last_name', 'Příjmení'),
                    ('email', 'E-mail'),
                    ('last_visit', 'Posl. návštěva'),
                    ('n_pois', '# Značek'),
                    ('n_images', '# Fotek'),
                    ('n_comments', '# Komentářů')) %}
        {% include "stats/_table-head.html" %}
    {% endwith %}
{% endblock %}

{% block table_controls %}
    {{ super() }}
    <div class="field is-flex-grow-0">
        <div class="control">
            <input name="{{ section }}_search"
                   type="text"
                   class="input"
                   value="{{ search }}"
                   placeholder="Jméno, příjmení, e-mail"
                   hx-get="{{ stats_url }}"
                   hx-trigger="keyup changed delay:2s"
                   hx-target="#stats"
                   hx-swap="outerHTML">
        </div>
        <p class="help">Vyhledat</p>
    </div>
{% endblock %}

{% block table_body %}
    {% for row in rows %}
        <tr>
            <th class="cell-number">
                <a href="https://map.na-ovoce.cz/user/{{ row.id }}"
                   target="_blank"
                   rel="noopener noreferr">
                    {{ row.id }}
                </a>
            </th>
            <td class="cell-w-datetime cell-number">{{ row.created_fmt }}</td>
            <td class="cell-w-name">{{ row.first_name|default('-', true) }}</td>
            <td class="cell-w-name">{{ row.last_name|default('-', true) }}</td>
            <td class="cell-w-email"><a href="mailto:{{ row.email }}">{{ row.email }}</a></td>
            <td class="cell-w-datetime cell-number">{{ row.last_visit_fmt|default('-', true) }}</td>
            <td class="cell-number">{{ row.n_pois }}</td>
            <td class="cell-number">{{ row.n_images }}</td>
            <td class="cell-number">{{ row.n_comments }}</td>
        </tr>
    {% endfor %}
{% endblock %}
