{% extends "stats/base.html" %}
{% from "stats/_macros.html" import format_position, link_creator, link_poi_cat %}

{% block table_head %}
    {% with fields=(('id', 'ID'),
                    ('created', 'Vytvořeno'),
                    ('category_name', 'Druh'),
                    ('display_count', '# Zobrazení'),
                    (None, 'Šířka; Délka'),
                    ('creator_id', 'Uživatel'),
                    ('n_images', '# Fotek'),
                    ('n_comments', '# Komentářů')) %}
        {% include "stats/_table-head.html" %}
    {% endwith %}
{% endblock %}

{% block table_controls %}
    {{ super() }}
    <div class="field is-flex-grow-0">
        <div class="control">
            <div class="select">
                <select name="{{ section }}_cat_id_filter"
                        hx-get="{{ stats_url }}"
                        hx-target="#stats"
                        hx-swap="outerHTML">
                    <option value="0">-- Všechny --</option>
                    {% for choice in cat_choices %}
                        <option {% if choice.id == cat_id_filter %}selected{% endif %}
                            value="{{ choice.id }}">
                            {{ choice.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <p class="help">Filtr druhů</p>
    </div>
{% endblock %}

{% block table_body %}
    {% for row in rows %}
        <tr>
            <th class="cell-number">
                <a href="https://map.na-ovoce.cz/{{ row.id }}"
                   target="_blank"
                   rel="noopener noreferrer">
                    {{ row.id }}
                </a>
            </th>
            <td class="cell-w-datetime cell-number">{{ row.created_fmt }}</td>
            <td class="cell-w-name">{{ row.category_name }}</td>
            <td class="cell-number">{{ row.display_count|default('0', true) }}</td>
            <td class="cell-w-latlng cell-number">
                {{ format_position(row.lat, row.lng) }}
            </td>
            <td class="cell-number">{{ link_creator(stats_url, row.creator_id) }}</td>
            <td class="cell-number">{{ row.n_images }}</td>
            <td class="cell-number">{{ row.n_comments }}</td>
        </tr>
    {% endfor %}
{% endblock %}
