<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Vytvořeno</th>
            <th>Zobrazení</th>
            <th>Souřadnice</th>
            <th>Uživatel</th>
            <th># Fotek</th>
            <th># Komentářů</th>
        </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
            <th>{{ row.id }}</th>
            <td>{{ row.created }}</td>
            <td>{{ row.display_count }}</td>
            <td>{{ row.position }}</td>
            <td>{{ row.user_id }}</td>
            <td>{{ row.n_images }}</td>
            <td>{{ row.n_comments }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
