<div class="card block">
    <header class="card-header">
        <p class="card-header-title">
            Zobrazeno {{ offset }} – {{ [offset+limit, count] | min }}
            z celkových
            &nbsp<b class="has-text-warning-dark">{{ count }}</b>&nbsp
            značek
        </p>
        <a class="button is-small is-align-self-center mr-2"
           hx-get="{{ url_for('core.index') }}?pois_offset={{ offset-limit }}"
           hx-target="#stats"
           hx-swap="outerHTML"
           {% if offset <= 0 %}disabled hx-disable{% endif %}>
            <span class="icon">
                <i class="fa fa-chevron-left"></i>
            </span>
        </a>
        <a class="button is-small is-align-self-center"
           hx-get="{{ url_for('core.index') }}?pois_offset={{ offset+limit }}"
           hx-target="#stats"
           hx-swap="outerHTML"
           {% if offset + limit >= count %}disabled hx-disable{% endif %}>
            <span class="icon">
                <i class="fa fa-chevron-right"></i>
            </span>
        </a>
        <button class="card-header-icon" aria-label="more options">
            <span class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
        </button>
    </header>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th style="min-width: 12rem">
                Vytvořeno
            </th>
            <th>Druh</th>
            <th>Zobrazení</th>
            <th>Šířka; Délka</th>
            <th>Uživatel</th>
            <th># Fotek</th>
            <th># Komentářů</th>
        </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
            <th>{{ row.id }}</th>
            <td>{{ row.created }}</td>
            <td>{{ row.category }}</td>
            <td>{{ row.display_count }}</td>
            <td>{{ row.lat }}; {{ row.lng }}</td>
            <td>{{ row.creator_id }}</td>
            <td>{{ row.n_images }}</td>
            <td>{{ row.n_comments }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
