__pycache__
*.swp
*~
.env
.idea
naovoce-dashboard.iml
dashboard.sqlite3
dashboard.sqlite3-shm
dashboard.sqlite3-wal
dashboard.egg-info
/node_modules
/venv
/build
/dist
/dashboard/resources/vendor
/dashboard/static/css
/dashboard/static/js
/dashboard/static/fa
/dashboard/static/leaflet
