__pycache__
*.swp
*~
.env
.idea
naovoce-dashboard.iml
dashboard.db
dashboard.egg-info
/node_modules
/venv
/build
/dist
/dashboard/resources/vendor
/dashboard/static/css
/dashboard/static/js
/dashboard/static/fa
/dashboard/static/leaflet
