{% for field_id, field_name in fields %}
    <th>
        {% if not field_id %}
            {{ field_name }}
        {% else %}
            <a hx-get="{{ tables_url }}?{{ section }}_order={{ next_order(field_id, order) }}"
               hx-target="#tables"
               hx-swap="outerHTML">
                {{ field_name }}
            </a>
            {% if order == field_id + "_asc" %}
                <i class="fa fa-arrow-up"></i>
            {% elif order == field_id + "_desc" %}
                <i class="fa fa-arrow-down"></i>
            {% endif %}
        {% endif %}
    </th>
{% endfor %}
