<div class="card block">
    <header class="card-header">
        <p class="card-header-title">
        {% block table_counts %}
            Zobrazeno
            <span class="has-text-warning-dark ml-2 mr-2">
                {{ offset }} – {{ [offset+limit, count] | min }}
            </span>
            výsledků z celkových
            <span class="has-text-warning-dark ml-2 mr-2">
                {{ count }}
            </span>
        {% endblock %}
        </p>

        {% block table_paging %}
            <a class="button is-small is-align-self-center mr-2"
               hx-get="{{ tables_url }}?{{ section }}_offset={{ offset-limit }}"
               hx-target="#tables"
               hx-swap="outerHTML"
               {% if offset <= 0 %}disabled hx-disable{% endif %}>
                <span class="icon">
                    <i class="fa fa-chevron-left"></i>
                </span>
            </a>
            <a class="button is-small is-align-self-center"
               hx-get="{{ tables_url }}?{{ section }}_offset={{ offset+limit }}"
               hx-target="#tables"
               hx-swap="outerHTML"
               {% if offset + limit >= count %}disabled hx-disable{% endif %}>
                <span class="icon">
                    <i class="fa fa-chevron-right"></i>
                </span>
            </a>
        {% endblock %}

        <button class="card-header-icon"
                hx-get="{{ tables_url }}?show_controls={% if show_controls %}f{% else %}t{% endif %}"
                hx-target="#tables"
                hx-swap="outerHTML">
            <span class="icon">
                {% if show_controls %}
                    <i class="fa fa-minus" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-plus" aria-hidden="true"></i>
                {% endif %}
            </span>
        </button>
    </header>

    {% if show_controls %}
    <div class="card-content" id="table-controls">
        <form class="field is-horizontal">
            <div class="field-body">

                {% block table_controls %}
                    <div class="field is-flex-grow-0">
                        <div class="control">
                            <div class="select">
                                <select name="{{ section }}_limit"
                                        hx-get="{{ tables_url }}"
                                        hx-target="#tables"
                                        hx-swap="outerHTML">
                                    <option {% if limit == 40 %}selected{% endif %} value="40">40</option>
                                    <option {% if limit == 100 %}selected{% endif %} value="100">100</option>
                                    <option {% if limit == 500 %}selected{% endif %} value="500">500</option>
                                </select>
                            </div>
                        </div>
                        <p class="help">Délka stránky</p>
                    </div>
                    <div class="field is-flex-grow-0">
                        <div class="control">
                            <input name="{{ section }}_created_since"
                                   type="date"
                                   class="input"
                                   value="{{ created_since }}"
                                   min="{{ created_min }}"
                                   max="{{ created_until }}"
                                   hx-get="{{ tables_url }}"
                                   hx-target="#tables"
                                   hx-swap="outerHTML">
                        </div>
                        <p class="help">Vytvořeno od</p>
                    </div>
                    <div class="field is-flex-grow-0">
                        <div class="control">
                            <input name="{{ section }}_created_until"
                                   type="date"
                                   class="input"
                                   value="{{ created_until }}"
                                   min="{{ created_since }}"
                                   max="{{ created_max }}"
                                   hx-get="{{ tables_url }}"
                                   hx-target="#tables"
                                   hx-swap="outerHTML">
                        </div>
                        <p class="help">Vytvořeno do</p>
                    </div>
                {% endblock %}

                <div class="field">
                    <p class="control">
                        <button class="button is-warning"
                                hx-get="{{ tables_url }}?{{ section }}_reset_filters=t"
                                hx-target="#tables"
                                hx-swap="outerHTML">
                            Reset
                        </button>
                    </p>
                </div>

            </div>
        </form>
    </div>
    {% endif %}
</div>

<div class="table-container">
    <table class="table stats-table">
        <thead>
        <tr>
            {% block table_head %}
            {% endblock %}
        </tr>
        </thead>
        <tbody>
            {% block table_body %}
            {% endblock %}
        </tbody>
    </table>
</div>
