{% extends "tables/base.html" %}
{% from "tables/_macros.html" import link_creator, link_poi %}

{% block table_head %}
    {% with fields=(('id', 'ID'),
                    ('created', 'Vytvořeno'),
                    (None, 'Soubor'),
                    ('creator_id', 'Uživatel'),
                    ('poi_id', 'Značka')) %}
        {% include "tables/_table-head.html" %}
    {% endwith %}
{% endblock %}

{% block table_body %}
    {% for row in rows %}
        <tr>
            <th class="cell-number">{{ row.id }}</th>
            <td class="cell-w-datetime cell-number">{{ row.created_fmt }}</td>
            <td class="cell-w-url">
                <a href="{{ row.image_url }}" target="_blank">{{ row.file_name }}</a>
            </td>
            <td class="cell-number">{{ link_creator(tables_url, row.creator_id) }}</td>
            <td class="cell-number">{{ link_poi(tables_url, row.poi_id) }}</td>
        </tr>
    {% endfor %}
{% endblock %}
