@import "bulma"


#content
    margin-top: 5rem

.navbar-item
    font-weight: bold
    &-active
        color: $link

.stats-table
    td, th
        min-width: 8rem
        overflow: hidden
        text-overflow: ellipsis
    .cell-w-datetime
        min-width: 9rem
        max-width: 9rem
    .cell-w-name
        min-width: 12rem
        max-width: 12rem
    .cell-w-email
        min-width: 18rem
        max-width: 18rem
        white-space: nowrap
    .cell-w-url
        min-width: 25rem
        max-width: 25rem
    .cell-w-latlng
        min-width: 25rem
        max-width: 25rem
    .cell-number
        font-family: $family-monospace

#monthly-gains-chart
    width: 100%
    height: 300px
    margin-bottom: 3rem

#monthly-pois-chart
    width: 100%
    height: 700px
    margin-bottom: 3rem
