<div id="charts">
    {% if show_charts %}
    <div id="monthly-chart"></div>
    <script type="text/javascript">
        option = {
            title: {
                text: 'Měsíční nárůst'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['Uživatelé', 'Značky', 'Uživatelé / m', 'Značky / m']
            },
            grid: {
                left: '0',
                right: '0',
                bottom: '0',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                data: [{{ monthly_chart.x_axis|safe }}],
                axisPointer: {
                    type: 'shadow'
                }
            },
            yAxis: [
                {
                    type: 'value',
                    min: 0,
                    max: 30000,
                    interval: 5000
                },
                {
                    type: 'value',
                    min: 0,
                    max: 1500,
                    interval: 500
                }
            ],
            series: [
                {
                    name: 'Značky',
                    type: 'line',
                    color: '#84B441',
                    data: [{{ monthly_chart.pois_cum|safe }}]
                },
                {
                    name: 'Uživatelé',
                    type: 'line',
                    color: '#674822',
                    data: [{{ monthly_chart.creators_cum|safe }}]
                },
                {
                    name: 'Značky / m',
                    type: 'bar',
                    color: '#ffd259',
                    yAxisIndex: 1,
                    data: [{{ monthly_chart.pois|safe }}]
                },
                {
                    name: 'Uživatelé / m',
                    type: 'bar',
                    color: '#ff8383',
                    yAxisIndex: 1,
                    data: [{{ monthly_chart.creators|safe }}]
                }
            ]
        };
        echarts.init(document.getElementById('monthly-chart')).setOption(option);
    </script>
    {% endif %}
</div>
