{% with stats_url = url_for('core.index') %}
<div id="stats">
    <div class="tabs is-boxed">
        <ul>
            {% for sec_id, sec_name in (('creators', 'Uživatelé'),
                                        ('categories', 'Kategorie'),
                                        ('pois', 'Značky'),
                                        ('images', 'Fotky'),
                                        ('comments', 'Komentáře')) %}
                <li class="{% if section == sec_id %}is-active{% endif %}">
                    <a hx-get="{{ stats_url }}?section={{ sec_id }}"
                       hx-target="#stats"
                       hx-swap="outerHTML">
                        {{ sec_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if section == 'creators' %}
        {% include "stats/creators.html" %}
    {% elif section == 'categories' %}
        {% include "stats/categories.html" %}
    {% elif section == 'pois' %}
        {% include "stats/pois.html" %}
    {% elif section == 'images' %}
        {% include "stats/images.html" %}
    {% elif section == 'comments' %}
        {% include "stats/comments.html" %}
    {% endif %}
</div>
{% endwith %}
