<div id="stats">
    {% with stats_url = url_for('core.index') %}
    <div class="tabs is-boxed">
        <ul>
            <li class="{% if section == 'creators' %}is-active{% endif %}">
                <a hx-get="{{ stats_url }}?section=creators"
                   hx-target="#stats"
                   hx-swap="outerHTML">
                    Uživatelé
                </a>
            </li>
            <li class="{% if section == 'categories' %}is-active{% endif %}">
                <a hx-get="{{ stats_url }}?section=categories"
                   hx-target="#stats"
                   hx-swap="outerHTML">
                    Kategorie
                </a>
            </li>
            <li class="{% if section == 'pois' %}is-active{% endif %}">
                <a hx-get="{{ stats_url }}?section=pois"
                   hx-target="#stats"
                   hx-swap="outerHTML">
                    Značky
                </a>
            </li>
            <li class="{% if section == 'images' %}is-active{% endif %}">
                <a hx-get="{{ stats_url }}?section=images"
                   hx-target="#stats"
                   hx-swap="outerHTML">
                    Fotky
                </a>
            </li>
            <li class="{% if section == 'comments' %}is-active{% endif %}">
                <a hx-get="{{ stats_url }}?section=comments"
                   hx-target="#stats"
                   hx-swap="outerHTML">
                    Komentáře
                </a>
            </li>
        </ul>
    </div>
    {% if section == 'creators' %}
        {% include "stats/creators.html" %}
    {% elif section == 'categories' %}
        {% include "stats/categories.html" %}
    {% elif section == 'pois' %}
        {% include "stats/pois.html" %}
    {% elif section == 'images' %}
        {% include "stats/images.html" %}
    {% elif section == 'comments' %}
        {% include "stats/comments.html" %}
    {% endif %}

    {% endwith %}
</div>
