{% extends "_base.html" %}

{% block body %}
    <nav class="navbar is-fixed-top is-spaced has-shadow" role="navigation" aria-label="main navigation">
        {% block header %}
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('core.index') }}">
                    <img src="{{ url_for('static', filename='img/na-ovoce.png') }}" alt="logo">
                    <h1 class="title is-3 ml-3 pt-1">Statistiky</h1>
                </a>
            </div>

            {% if current_user.is_authenticated %}
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a href="{{ url_for('core.index') }}"
                       class="navbar-item {% if request.path == url_for('core.index') %}navbar-item-active{% endif %}">
                        Tabulky
                    </a>
                    <a href="{{ url_for('core.charts') }}"
                       class="navbar-item {% if request.path == url_for('core.charts') %}navbar-item-active{% endif %}">
                        Grafy
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <a href="#" class="button is-small is-rounded"
                           title="Odhlásit"
                           hx-post="{{ url_for('auth.logout') }}"
                           hx-confirm="Opravdu odhlásit?">
                            odhlásit
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}

        {% endblock %}
    </nav>

    <section id="content" class="section">
        {% block content %}
        {% endblock %}
    </section>
{% endblock %}
