{% extends 'base.html' %}

{% block header %}
    <div class="column is-10">
        <h1 class="title is-3">Statistiky</h1>
    </div>
    <div class="column is-2 has-text-right">
        {% if current_user.is_authenticated %}
            <a class="button is-small is-rounded"
               href="{{ url_for('auth.logout') }}">odhlásit</a>
        {% else %}
            <a class="button is-small is-rounded is-link"
               href="{{ url_for('auth.login') }}">přihlásit</a>
        {% endif %}
    </div>
{% endblock header %}

{% block content %}
    {% if current_user.is_authenticated %}
        {% include 'inc/dashboard.html' %}
    {% endif %}
{% endblock content %}
