<!doctype html>
<html lang="cs" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Ondřej Nejedlý">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Statistiky Na ovoce">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static }}img/apple-touch-icon.png" crossorigin>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ static }}img/favicon-16x16.png" crossorigin>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ static }}img/favicon-32x32.png" crossorigin>
    <link rel="mask-icon" href="{{ static }}img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{ static }}img/favicon.ico" crossorigin>
    <link rel="manifest" href="{{ static }}manifest.json">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://dashboard.na-ovoce.cz/" />
    <title>Statistiky Na ovoce</title>
</head>
<body>
    <h1>Statistiky Na ovoce</h1>
</body>
