{% extends 'base.html' %}

{% block content %}
{% with tables_url = url_for('core.index') %}
<div id="tables">
    <div class="tabs is-boxed">
        <ul>
            {% for sec_id, sec_name in (('creators', 'Uživatelé'),
                                        ('categories', 'Druhy'),
                                        ('pois', 'Značky'),
                                        ('images', 'Fotky'),
                                        ('comments', 'Komentáře')) %}
                <li class="{% if section == sec_id %}is-active{% endif %}">
                    <a hx-get="{{ tables_url }}?section={{ sec_id }}"
                       hx-target="#tables"
                       hx-swap="outerHTML">
                        {{ sec_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if section == 'creators' %}
        {% include "tables/creators.html" %}
    {% elif section == 'categories' %}
        {% include "tables/categories.html" %}
    {% elif section == 'pois' %}
        {% include "tables/pois.html" %}
    {% elif section == 'images' %}
        {% include "tables/images.html" %}
    {% elif section == 'comments' %}
        {% include "tables/comments.html" %}
    {% endif %}
</div>
{% endwith %}
{% endblock content %}
