{% extends 'base.html' %}

{% block title %}Přihlášení | {{ super() }}{% endblock %}

{% block header %}
    <div class="column is-10">
        <h1 class="title is-3">Přihlášení</h1>
    </div>
    <div class="column is-2 has-text-right">
        <a class="button is-small is-rounded"
           href="{{ url_for('core.index') }}">Domů</a>
    </div>
{% endblock %}

{% block content %}
    {% if not current_user.is_authenticated %}
        {% include 'inc/login_form.html' %}
    {% endif %}
{% endblock content %}
